<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.0/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         failOnWarning="false"
         failOnRisky="false"
         beStrictAboutOutputDuringTests="true"
         cacheDirectory=".phpunit.cache">
    
    <testsuites>
        <testsuite name="DiSyL Test Suite">
            <directory>tests/DiSyL</directory>
            <exclude>tests/DiSyL/Legacy</exclude>
        </testsuite>
    </testsuites>
    
    <source>
        <include>
            <directory suffix=".php">kernel/DiSyL</directory>
        </include>
        <exclude>
            <directory>kernel/DiSyL/Legacy</directory>
            <directory>kernel/DiSyL/Manifests</directory>
        </exclude>
    </source>
    
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="DISYL_PROFILE" value="full"/>
        <env name="DISYL_CMS" value="wordpress"/>
    </php>
</phpunit>
