.vscode/**
.vscode-test/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/tsconfig.server.json
**/.eslintrc.json
**/*.map
src/**
server/**
!out/**
node_modules/**
.git/**
.github/**
*.vsix
*.log
