@font-face {
  font-family: 'Oswald';
  font-weight: 400;
  font-style: normal;
  src: url('../oswald/oswald-regular.woff2') format('woff2');
  font-display: swap;
}
@font-face {
  font-family: 'Oswald';
  font-weight: 700;
  font-style: normal;
  src: url('../oswald/oswald-700.woff2') format('woff2');
  font-display: swap;
}